.dstorehead
{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 800;
}
.dstoresignup
{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    font-weight: 80;
}
.form-control
{
    width: 200%;
}
.col-md-4
{
    margin-top: 30px;
    margin-right: -60px;
}
.signup
{
    border: 3px solid rgb(241, 9, 9);
    width: 500px;
    margin: 100px 33% ;
    border-top-left-radius: 50px ;
    border-bottom-right-radius: 50px ;
    padding-bottom: 30px;
    box-shadow: 3px 3px 20px 2px rgb(185, 16, 219);
}
.btn
{
    margin-top: 20px;
}
body
{
    animation: dbody 0.5s linear forwards;
}
@keyframes dbody
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}