.header
{
    /* border: 2px solid red; */
    background-color: rgba(235, 229, 229, 0.822);
}
.header .row .col-md-2 .logo ,.tag
{
    font-size: 40px;
    font-weight: 150;
    margin-left: 20px;
}
.navbar
{
    background-color: rgba(235, 229, 229, 0.822) !important;
    float: right;
}
.offers
{
    margin-top: 60px;
    padding: 20px 20px;
    background-image: url(Image/electronics.jpeg);
    background-size: cover;
}
.offerhead
{
    text-align: center;
}
.offerframe
{
    border: 5px solid rgb(255, 255, 255);
    border-radius: 40px;
    text-align: center;
    width: 364px;
    margin-left: 200px;
    padding: 50px;
    animation: dframe 1s linear infinite;
}
.offername
{
    font-size: 20px;
    color: black;
    font-weight: 800;
}
.doffer
{
    font-size: 40px;
    color: rgb(161, 161, 161);
}
h1
{
    color: rgb(121, 120, 120);
}
h2
{
    font-size: 50px;
    font-weight: 800;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.item
{
    width: 300px;
    height: 300px;
    margin: 50px 130px;
    transition: 0.5s;
}
.needname
{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}
.owl-carousel .owl-nav
{
    text-align: center;
}
.owl-prev, .owl-next
{
    font-size: 100px !important;
    text-align: center !important;    
}
.owl-nav
{
    margin-top: -50px;
}
.dfooter
{
    background-color: rgb(119, 117, 117);
    padding: 30px;
}
.dfooter .row .col-md-6
{
    text-align: center;
}
.foothead
{
    font-weight: 800;
    font-size: 20px;
}
.footicon
{
    font-size: 30px;
}
a
{
    color: black;
}
a:hover
{
    color: black;
}
@keyframes dframe
{
    50%
    {
        transform: scale(1.15);
    }
}
.item:hover
{
    transform: scale(1.2);
    transition: 0.5s;
}
body
{
    animation: dbody 0.5s linear forwards;
}
@keyframes dbody
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
